@font-face {
    font-family: georia;
    src: url(../fonts/georgia/Georgia.ttf);
}

.content-container {
    background-color: white;
    padding: 10px;
    margin: 10px 0;
}

.content-container img{
    width: 100%;
}

.no-padding-right {
    padding-right: 0;
}

@media only screen and (max-width: 991px) {
    .no-padding-right {
        padding-right: 15px;
    }
}

.content-container figure {
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 27px;
}

h1,
h2 {
    font-family: georgia;
}

.gray {
    color: gray;
}

.relative {
    position: relative;
}

.gallery-thumbnail {
    background-color: white;
    padding: 5px;
    margin-bottom: 10px;
}

.gallery-thumbnail .caption {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img-thumbnail {
    margin: 10px 0;
}

.article-description p {
    margin-top: 7px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.date-time {
    font-size: 0.8em;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.tags-container {
    position: relative;
}

.breadcrumb {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '|';
}

.home-slide {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    background-position: center;
    background-attachment: fixed;
}

.home-slide .nav {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.home-slide .nav div {
    position: relative;
    width: 100%;
    text-align: center;
}

.home-slide .nav div .dot-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.home-slide .nav div .dot-wrapper span {
    color: gray;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

.home-slide .nav div .dot-wrapper .active {
    color: white;
}

.main-heading {
    background-color: rgba(0, 0, 0, 0.8);
    height: 54px;
}

.main-logo a {
    color: white;
    font-weight: bold;
    font-size: 33px;
    margin-left: 10px;
    text-decoration: None;
}

.main-menu-button {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    top: 6px;
}

.right-menu-wrapper {
    padding-right: 8px;
    padding-top: 3px;
}

.lang-flag {
    padding-right: 8px;
}

.product-gallery-class {
}

.image-element-class {
    width: 100%;
    padding: 6px;
}

@media (min-width: 768px) {
    .image-element-class {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .image-element-class {
        width: 33.33%;
    }
}

@media (min-width: 992px) {
    .image-element-class {
        width: 33.33%;
    }
}

figure.product-item {
    background-color: gray;
    margin-bottom: 0 !important;
    box-shadow: 3px 3px 2px #D3D3D3;
}
figure.product-item figcaption {
    color: white;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight:bold;
    text-align: center;
}
